.container-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 935px;
  margin: 0 auto;
  padding: 0 10px;
  font-family: Arial, Helvetica, sans-serif;
  border-right: 1px solid grey;
  border-left: 1px solid grey;
  width: 100%;
}

.split {
  display: grid;
  margin-top: 54px;
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
  margin-left: 100px;
}

.left {
  max-width: 614px;
  right: 37.4%;
}

.right {
  left: 55%;
  max-width: 293px;
  max-height: 738px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.FriendContainer {
  width: 200px;
  height: 200px;
  background-color: rgb(215, 230, 173);
  margin-left: 20px;
  overflow-y: scroll;
}
