.container-card {
  border: 1px solid blue;
  width: 616px;
  height: 1089.5px;
}

.album__image {
  max-width: 100%;
}

.title-card {
  display: flex;
  flex-direction: row;
  
  &__name {
    margin-top: 3px;
    font-family: "Times New Roman", Times, serif;
    font-size: 14px;
    font-weight: 700;
    color: rgb(65, 64, 64);
    margin-left: 10px;
  }
  &__life-credo {
    margin-top: -4px;
    font-family: "Times New Roman", Times, serif;
    font-size: 13px;
    font-weight: 400;
    color: rgb(65, 64, 64);
    margin-left: 10px;
  }

  &__photo-small {
    position: relative;
    margin-top: 7px;
    margin-left: 7px;
    margin-bottom: 7px;
    display: flex;
    margin-left: 20px;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background-image: url("../../usersImages/katerinakhaidukova/01_katerinakhaidukova.jpg");
    background-size: 30px auto;
    cursor: pointer;
  }

  &__title-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
.title-card::after {
  position: absolute;
  content: "";
  display: inline-block;
  margin-top: 0.19em;
  margin-left: 1em;
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  vertical-align: middle;
  box-shadow: 0 0 0 0.15em rgb(250, 0, 250) inset;
}
